    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    zoom: 100%;
    }
.bg-img {
    background-image: url(export-map-share.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.layer2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.map-style {
    width: 100%;
    height: 100%;
    position: relative;
}

.airplane {
    display: none;
    
}